In [4]:
#Import dependencies and merge data sets
import pandas as pd
import numpy as np
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

In [5]:
#District Summary
schools=school_data_complete['school_name'].nunique()
students=school_data_complete['school_name'].count()
budget=school_data_complete.drop_duplicates('school_name').budget.sum()
ave_read_score=school_data_complete.reading_score.mean()
ave_math_score=school_data_complete.math_score.mean()
math_pass = school_data_complete.school_name.loc[school_data_complete['math_score']>69]
math_pass_prop=(math_pass.count())/students*100
read_pass = school_data_complete.school_name.loc[school_data_complete['reading_score']>69]
read_pass_prop=(read_pass.count())/students*100
dist_combo_prop=(read_pass_prop+math_pass_prop)/2
district_summary=pd.DataFrame({
    'Number of Schools': [schools],
    'Total Number of Students': [students],
    'Total Budget': [budget],
    'Average Reading Score': [ave_read_score],
    'Average Math Score': [ave_math_score],
    'Proportion of Passing Math': [math_pass_prop],
    'Proportion of Passing Reading': [read_pass_prop],
    'Combined Proportion of Passing': dist_combo_prop
})

district_summary

,Number of Schools,Total Number of Students,Total Budget,Average Reading Score,Average Math Score,Proportion of Passing Math,Proportion of Passing Reading,Combined Proportion of Passing
0,15,39170,24649428,81.87784,78.985371,74.980853,85.805463,80.393158

In [6]:
#School Summary
district_school_data_frame=school_data_complete.groupby(['school_name','type'])
students=district_school_data_frame['student_name'].count()
budget=school_data_complete.drop_duplicates('size').groupby(['school_name','type']).budget.sum()
perstudent_budget=(budget/students)
school_math=school_data_complete.groupby(['school_name','type']).math_score.mean()
school_read=school_data_complete.groupby(['school_name','type']).reading_score.mean()
school_average=(school_math+school_read)/2
school_math_pass = school_data_complete.loc[school_data_complete['math_score']>69].groupby(['school_name','type'])
school_math_pass_prop=(school_math_pass['Student ID'].count())/students*100
school_read_pass = school_data_complete.loc[school_data_complete['reading_score']>69].groupby(['school_name','type'])
school_read_pass_prop=(school_read_pass['Student ID'].count())/students*100
school_average_pass=(school_read_pass_prop+school_math_pass_prop)/2
school_dict={
    'Number of Students': students, 
    'School Budget': budget, 
    'Budget per Student': perstudent_budget, 
    'Average Math Score': school_math, 
    'Average Reading Score': school_read, 
    'Average Combined Score': school_average, 
    'Proportion of Students Passing Math': school_math_pass_prop, 
    'Proportion of Students Passing Reading': school_read_pass_prop, 
    'Proportion of Combined Passing': school_average_pass
}
school_summary = pd.DataFrame(school_dict)
school_summary

,,Number of Students,School Budget,Budget per Student,Average Math Score,Average Reading Score,Average Combined Score,Proportion of Students Passing Math,Proportion of Students Passing Reading,Proportion of Combined Passing
school_name,type,,,,,,,,,
Bailey High School,District,4976,3124928,628.0,77.048432,81.033963,79.041198,66.680064,81.933280,74.306672
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,83.518837,94.133477,97.039828,95.586652
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,78.934893,65.988471,80.739234,73.363852
Ford High School,District,2739,1763916,644.0,77.102592,80.746258,78.924425,68.309602,79.299014,73.804308
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,83.584128,93.392371,97.138965,95.265668
Hernandez High School,District,4635,3022020,652.0,77.289752,80.934412,79.112082,66.752967,80.862999,73.807983
Holden High School,Charter,427,248087,581.0,83.803279,83.814988,83.809133,92.505855,96.252927,94.379391
Huang High School,District,2917,1910635,655.0,76.629414,81.182722,78.906068,65.683922,81.316421,73.500171
Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,79.019429,66.057551,81.222432,73.639992
Pena High School,Charter,962,585858,609.0,83.839917,84.044699,83.942308,94.594595,95.945946,95.270270
Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,78.793698,66.366592,80.220055,73.293323
Shelton High School,Charter,1761,1056600,600.0,83.359455,83.725724,83.542589,93.867121,95.854628,94.860875
Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,83.633639,93.272171,97.308869,95.290520
Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,83.631844,93.867718,96.539641,95.203679
Wright High School,Charter,1800,1049400,583.0,83.682222,83.955000,83.818611,93.333333,96.611111,94.972222

In [7]:
#Top Performing Schools by Overall Pass Rate
sorted_schools=school_summary.sort_values('Proportion of Combined Passing', ascending=False)
sorted_schools.head()

,,Number of Students,School Budget,Budget per Student,Average Math Score,Average Reading Score,Average Combined Score,Proportion of Students Passing Math,Proportion of Students Passing Reading,Proportion of Combined Passing
school_name,type,,,,,,,,,
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,83.518837,94.133477,97.039828,95.586652
Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,83.633639,93.272171,97.308869,95.290520
Pena High School,Charter,962,585858,609.0,83.839917,84.044699,83.942308,94.594595,95.945946,95.270270
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,83.584128,93.392371,97.138965,95.265668
Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,83.631844,93.867718,96.539641,95.203679

In [8]:
#Worst Performing Schools by Overall Pass Rate

sorted_schools.tail()

,,Number of Students,School Budget,Budget per Student,Average Math Score,Average Reading Score,Average Combined Score,Proportion of Students Passing Math,Proportion of Students Passing Reading,Proportion of Combined Passing
school_name,type,,,,,,,,,
Ford High School,District,2739,1763916,644.0,77.102592,80.746258,78.924425,68.309602,79.299014,73.804308
Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,79.019429,66.057551,81.222432,73.639992
Huang High School,District,2917,1910635,655.0,76.629414,81.182722,78.906068,65.683922,81.316421,73.500171
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,78.934893,65.988471,80.739234,73.363852
Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,78.793698,66.366592,80.220055,73.293323

In [10]:
#Math Scores by Grade
ninth_grade_math = school_data_complete.loc[school_data_complete["grade"] =="9th"].groupby("school_name")
["math_score"]
ninth_grade_math.math_score.mean()
tenth_grade_math = school_data_complete.loc[school_data_complete["grade"] =="10th"].groupby("school_name")
["math_score"]
tenth_grade_math.math_score.mean()
eleventh_grade_math = school_data_complete.loc[school_data_complete["grade"] =="11th"].groupby("school_name")
["math_score"]
eleventh_grade_math.math_score.mean()
twelfth_grade_math = school_data_complete.loc[school_data_complete["grade"] =="12th"].groupby("school_name")
["math_score"]
twelfth_grade_math.math_score.mean()
math_score_by_grade = pd.DataFrame({"9th": ninth_grade_math.math_score.mean(),
                                    "10th": tenth_grade_math.math_score.mean(),
                                    "11th": eleventh_grade_math.math_score.mean(),
                                    "12th": twelfth_grade_math.math_score.mean()
                                   })
math_score_by_grade

                             9th       10th       11th       12th
school_name
Bailey High School     77.083676  76.996772  77.515588  76.492218
Cabrera High School    83.094697  83.154506  82.765560  83.277487
Figueroa High School   76.403037  76.539974  76.884344  77.151369
Ford High School       77.361345  77.672316  76.918058  76.179963
Griffin High School    82.044010  84.229064  83.842105  83.356164
Hernandez High School  77.438495  77.337408  77.136029  77.186567
Holden High School     83.787402  83.429825  85.000000  82.855422
Huang High School      77.027251  75.908735  76.446602  77.225641
Johnson High School    77.187857  76.691117  77.491653  76.863248
Pena High School       83.625455  83.372000  84.328125  84.121547
Rodriguez High School  76.859966  76.612500  76.395626  77.690748
Shelton High School    83.420755  82.917411  83.383495  83.778976
Thomas High School     83.590022  83.087886  83.498795  83.497041
Wilson High School     83.085578  83.724422  83.195326  83.035794
Wright High School     83.264706  84.010288  83.836782  83.644986

In [ ]:
#Reading Scores by Grade
ninth_grade_read = school_data_complete.loc[school_data_complete["grade"] =="9th"].groupby("school_name")
["reading_score"]
tenth_grade_read = school_data_complete.loc[school_data_complete["grade"] =="10th"].groupby("school_name")
["reading_score"]
eleventh_grade_read = school_data_complete.loc[school_data_complete["grade"] =="11th"].groupby("school_name")
["reading_score"]
twelfth_grade_read = school_data_complete.loc[school_data_complete["grade"] =="12th"].groupby("school_name")
["reading_score"]
read_score_by_grade = pd.DataFrame({"9th": ninth_grade_read.reading_score.mean(),
                                    "10th": tenth_grade_read.reading_score.mean(),
                                    "11th": eleventh_grade_read.reading_score.mean(),
                                    "12th": twelfth_grade_read.reading_score.mean()
                                   })

In [11]:
#School Performance by Spending Category
spending_bins = [0, 592, 628.5, 642, 675]
group_names = ["0-592", "592-628.5", "628.5-642", "642-675"]
spending_df=pd.DataFrame(school_data_complete)
spend_budget=spending_df['budget']
spend_size=spending_df['size']
spend_per_student=(spend_budget/spend_size)
spending_df['Spending Per Student']=spend_per_student
spending_df["Spending Ranges"] = pd.cut(spending_df['Spending Per Student'], spending_bins, labels=group_names)
spend_math_loc=spending_df.loc[spending_df['math_score']>69].groupby(['Spending Ranges'])
spend_read_loc=spending_df.loc[spending_df['reading_score']>69].groupby(['Spending Ranges'])
reduced_spend=spending_df.groupby('Spending Ranges')
spend_math=reduced_spend.math_score.mean()
spend_read=reduced_spend.reading_score.mean()
bin_counts=spending_df["Spending Ranges"].value_counts()
spend_math_pass=(spend_math_loc.math_score.count()/bin_counts)*100
spend_read_pass=(spend_read_loc.reading_score.count()/bin_counts)*100
bin_combo_pass=(spend_math_pass+spend_read_pass)/2
final_spend_frame=pd.DataFrame({
    'Average Math Score': spend_math, 
    'Average Reading Score': spend_read,  
    'Proportion of Students Passing Math': spend_math_pass, 
    'Proportion of Students Passing Reading': spend_read_pass, 
    'Proportion of Combined Passing': bin_combo_pass
})
final_spend_frame

,Average Math Score,Average Reading Score,Proportion of Students Passing Math,Proportion of Students Passing Reading,Proportion of Combined Passing
Spending Ranges,,,,,
0-592,83.363065,83.964039,93.702889,96.686558,95.194724
592-628.5,79.982873,82.312643,79.109851,88.513145,83.811498
628.5-642,78.050332,81.478038,71.361995,83.653734,77.507864
642-675,77.058995,80.958411,66.609088,80.779963,73.694526

In [12]:
#School Performance by School Size
size_bins = [0, 1000, 2000, 5000]
size_group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]
size_df=pd.DataFrame(school_data_complete)
size_df["Size Ranges"] = pd.cut(spending_df['size'], size_bins, labels=size_group_names)
size_math_loc=size_df.loc[size_df['math_score']>69].groupby(['Size Ranges'])
size_read_loc=size_df.loc[size_df['reading_score']>69].groupby(['Size Ranges'])
reduced_size=size_df.groupby('Size Ranges')
size_math=reduced_size.math_score.mean()
size_read=reduced_size.reading_score.mean()
size_bin_counts=size_df["Size Ranges"].value_counts()
size_math_pass=(size_math_loc.math_score.count()/size_bin_counts)*100
size_read_pass=(size_read_loc.reading_score.count()/size_bin_counts)*100
size_bin_combo_pass=(size_math_pass+size_read_pass)/2
final_size_frame=pd.DataFrame({
    'Average Math Score': size_math, 
    'Average Reading Score': size_read,  
    'Proportion of Students Passing Math': size_math_pass, 
    'Proportion of Students Passing Reading': size_read_pass, 
    'Proportion of Combined Passing': size_bin_combo_pass
})
final_size_frame

,Average Math Score,Average Reading Score,Proportion of Students Passing Math,Proportion of Students Passing Reading,Proportion of Combined Passing
Large (2000-5000),77.477597,81.198674,68.652380,82.125158,75.388769
Medium (1000-2000),83.372682,83.867989,93.616522,96.773058,95.194790
Small (<1000),83.828654,83.974082,93.952484,96.040317,94.996400

In [13]:
#School Performance by Type
type_df=pd.DataFrame(school_data_complete)
type_math_loc=type_df.loc[type_df['math_score']>69].groupby(['type'])
type_read_loc=type_df.loc[type_df['reading_score']>69].groupby(['type'])
reduced_type=type_df.groupby('type')
type_math=reduced_type.math_score.mean()
type_read=reduced_type.reading_score.mean()
type_bin_counts=type_df["type"].value_counts()
type_math_pass=(type_math_loc.math_score.count()/type_bin_counts)*100
type_read_pass=(type_read_loc.reading_score.count()/type_bin_counts)*100
type_bin_combo_pass=(type_math_pass+type_read_pass)/2
final_type_frame=pd.DataFrame({
    'Average Math Score': type_math, 
    'Average Reading Score': type_read,  
    'Proportion of Students Passing Math': type_math_pass, 
    'Proportion of Students Passing Reading': type_read_pass, 
    'Proportion of Combined Passing': type_bin_combo_pass
})
final_type_frame

,Average Math Score,Average Reading Score,Proportion of Students Passing Math,Proportion of Students Passing Reading,Proportion of Combined Passing
type,,,,,
Charter,83.406183,83.902821,93.701821,96.645891,95.173856
District,76.987026,80.962485,66.518387,80.905249,73.711818

In [ ]:
#Charter schools performed significantly better than district schools despite 
#having similar levels of funding on a per student basis

#Small and medium sized schools performs significantly better than large schools.
#District school tend to have a larger number of total students comapred to charter schools, so while funding levels are similar
#workload of faculty and administrators is increased.

#There is no meaningful differences in performance accross grades at any school, indicating performance issues are systemic
#and not simply isolated to a partiular source.